body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
h1{
  color: lightcoral;
}
.row{
  text-align: center;
}
input{
  border: 3px solid rgb(150, 20, 111);
  border-radius: 4px;
  height: 40px;
  width: 15rem;
  padding: 1%;
  margin: 1%;
}
a{
 
    background-color: rebeccapurple;
    border: 3px solid rgb(150, 20, 111);
    
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 1.2rem;
    cursor: pointer;
}